################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.idea

[Bb]in/
[Oo]bj/
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esults/

log/
lucene/